body {
    background-image: url('../assets/background.jpg');
    font-family: 'Pangolin', cursive;
}

#heading-title {
    display: block;
    text-align: center;
    text-decoration: underline dashed;
}

#weather_image {
 display: block;
 width: 320px;
 height: 280px;
 padding-bottom: 0px;
 padding-top: 0px;
 margin: 0 auto;
}

#text-container {
    padding-left: 15px;
}

#navigate-button {
    display: block;
    border: none;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    background-color: #2e2e2a;
    color: white;
    border-radius: 1em;
}
